<header class="row">
  <div class="col-md-3 offset-md-1 col-sm-4">
    <img src="src/img/logo.jpg" routerLink="/ser" class="img-fluid" alt="logo" height="200">
  </div>
  <div class="col-md col-sm text-secondary">
    <div class="row justify-content-end p-3">
      <div class="form-group">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Search" name="search">
      </div>
      <div class="pl-3">
        <i class="fa fa-user"></i>
        <label>My Account</label>
      </div>
      <div>
        <i class="fa fa-shopping-cart pl-3"></i>
        <label routerLink="/cart">Cart</label>
      </div>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-black-50" routerLink="/prod">Products</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-black-50" routerLink="/serIpsGen" href="#" >Services</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-black-50" href="#">Support</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black-50" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black-50" href="#">Contact Us</a>
      </li>
    </ul>
  </div>

</header>
