
  <footer class="footer mt-auto py-3 bg-light ">
    <div class="container">
      <ul class="list-group list-group-horizontal mx-auto" id="footer-nav" style="list-style-type:none;">
        <li>
          <a href="/"><img class="img-fluid" src="/src/img/logo-nobg.png" style="max-width: 200px"/></a>
        </li>
        <li class="mx-5 ">
          <a class="text-primary"> <i class="fa fa-tasks text-primary"></i> Services</a>
          <ul class="list-unstyled small">
            <li><a class="text-muted">iPS Cell Lines</a></li>
            <li><a class="text-muted">Reporter Cell Lines</a></li>
            <li><a class="text-muted">Vial Packaging Mix</a></li>
            <li><a class="text-muted">Reporter Virus</a></li>
            <li><a class="text-muted">Other Reagents</a></li>
          </ul>
        </li>
        <li class="mx-5 ">
          <a class="text-primary"> <i class="fa fa-flask text-primary"></i> Products</a>
          <ul class="list-unstyled small">
            <li><a class="text-muted">Cell Immortalization</a></li>
            <li><a class="text-muted">Cell Line Generation</a></li>
            <li><a class="text-muted">Gene Editing</a></li>
            <li><a class="text-muted">iPS Cell Generation</a></li>
            <li><a class="text-muted">Virus Packaging</a></li>
          </ul>
        </li>
        <li class="mx-5 ">
          <a class="text-primary"> <i class="fa fa-building text-primary"></i> Alstem Inc</a>
          <ul class="list-unstyled small">
            <li><a class="text-muted">About Us</a></li>
            <li><a class="text-muted">Contact Us</a></li>
            <li><a class="text-muted">Careers</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </footer>
