
<div class="jumbotron-fluid">
  <img src="src/img/commonBanner.jpg" alt="commonBanner">
</div>

<div class="container-fluid">
   <div class="d-flex flex-row justify-content-around">
     <div class="card" style="width:400px">
       <img src="/src/img/s_icons/iPSC%20generation.jpg" class="card-img-top">
     <div class="card-body">
      <h5 class="card-text"><b>iPSC Generation</b></h5>
     </div>
     </div>

     <div class="card" style="width:400px">
       <div class="center">
         <img src="/src/img/s_icons/Virus%20packaging.jpg" class="card-img-top" width="100%">
       </div>
       <div class="card-body">
         <h5 class="card-text"><b>Virus Packaging</b></h5>
       </div>
     </div>

     <div class="card" style="width:400px">
       <div class="center">
         <img src="/src/img/s_icons/Cell%20Immortalization%20590X350.jpg" class="card-img-top" width="100%">
       </div>
       <div class="card-body">
         <h5 class="card-text"><b>Cell Immortaliztion</b></h5>
       </div>
     </div>
   </div>

  <div class="d-flex flex-row justify-content-around">
    <div class="card" style="width:400px">
      <div class="center">
        <img src="/src/img/s_icons/Gene%20editing.jpg" class="card-img-top" width="100%">
      </div>
      <div class="card-body">
        <h5 class="card-text"><b>Gene Editing</b></h5>
      </div>
    </div>

    <div class="card" style="width:400px">
      <div class="center">
        <img src="/src/img/s_icons/Cell%20line%20generation.jpg" width="100%" class="card-img-top">
      </div>
      <div class="card-body">
        <h5 class="card-text"><b>Cell Line Generation</b></h5>
      </div>
    </div>

    <div class="card" style="width:400px">
      <div class="center">
        <img src="/src/img/s_icons/Customer%20solution.jpg" width="100%" class="card-img-top">
      </div>
      <div class="card-body">
        <h5 class="card-text"><b>Custom Solutions</b></h5>
      </div>
    </div>
  </div>

 </div>
