<!--The content below is only a placeholder and can be replaced.-->
  <h1>
    Welcome to {{ title }}!
  </h1>

<div class="card">
  Our product
</div>
<div class="col-md-4">
  <div class="card mb-4 shadow-sm h-100">
    <div class="center">
      <img src="/src/img/1.JPG" width="100%">
    </div>
    <div class="card-body">
      <p class="card-text"><b>Custom Solutions</b></p>
      <p>gRNA library screening, vector construction, cell expansion & banking, contract assay services, and others</p>
    </div>
  </div>
</div>



<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

