<div class="jumbotron-fluid d-none d-md-block">
  <!-- change bg-->
  <!--img src="src/img/commonBanner.jpg" alt="commonBanner"-->
  <img src="src/img/CommonBanner1400X174%2072ppi.jpg" alt="commonBanner">
</div>

<div class="container">
  <h1 class="mb-3">Popular Products</h1>

  <div class="d-md-flex flex-row justify-content-between">
    <div class="card" style="width:300px">
      <div class="shadow bg-light rounded">
         <img src="/src/img/product/1-tube.jpg" class="card-img-top">
      </div>
         <div class="card-body bg-info text-white">
           <h5 class="card-text" routerLink="/prodTemp"><b>iPSC Cell Lines</b></h5>
         </div>
      </div>

    <div class="card" style="width:300px">
      <div class="shadow bg-light rounded">
        <img src="/src/img/product/3-bottle.jpg" class="card-img-top">
      </div>
      <div class="card-body bg-info text-white">
        <h5 class="card-text" ><b>Virus Production Reagents</b></h5>
      </div>
    </div>

    <div class="card" style="width:300px">
      <div class="shadow bg-light rounded">
        <img src="/src/img/product/2-tubes.jpg" class="card-img-top">
      </div>
      <div class="card-body bg-info text-white">
        <h5 class="card-text" ><b>Cell Immortaliztion Kits</b></h5>
      </div>
    </div>
  </div>


</div>

